.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 4rem 2rem 4rem 2rem;
  
  .images-container {
    margin-bottom: 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .about-image {
      width: 25vw;
      filter: drop-shadow(0 0 4px #50b5d7);
      box-shadow: 0 0 100px rgb(80, 181, 215, 5%);
    }

    .code-one {
      position: absolute;
      width: 40px;
      top: -2rem;
      right: 7.25rem;
    }

    .code-two {
      position: absolute;
      width: 40px;
      top: 5rem;
      right: -4rem;
    }

    .code-three {
      position: absolute;
      width: 40px;
      top: -2rem;
      right: -3rem;
    }

    .code-four {
      position: absolute;
      width: 40px;
      top: 5rem;
      right: 8.25rem;
    }
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 400;
    font-style: none;
    
    span {
      font-style: italic;
      font-weight: 900;
    }
  }

  h2.title {
    color: #50b5d7;
    font-weight: 900;
    margin-bottom: 1rem;
  }

  .about-description {
    display: flex;
    flex-direction: column;
  
    .paragraph {
      display: grid;
      margin-bottom: 1rem;
      grid-auto-flow: column;

      .marker {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #50b5d7;
        margin-right: 1rem;
        margin-top: .5rem;
        box-shadow: 0 0 4px #FFFFFF;
      }

      p {
        text-align: left;

        span {
          font-weight: 600;
        }
      }
    }
  }
}


@media (min-width: 1028px) {
  .about {
    .title {
      font-size: 2rem;
    }

    .about-description {
    
      .paragraph {
  
        .marker {
          display: none;
        }

        p {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
}