.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem 0 2rem;
  flex: 1;

  h1 {
    position: relative;
    margin-bottom: 2rem;
    filter: drop-shadow(0 0 80px #50b5d7);
    // box-shadow: 0 0 100px hsl(60, 100%, 60%, 50%);

    .icon.first {
      position: absolute;
      top: -1rem;
      right: -4rem;
    }
  
    .icon.second {
      position: absolute;
      top: -1rem;
      left: -4rem;
    }
  }

  .contact-data {
    display: flex;
    align-items: center;
    text-align: start;
    color: #FFFFFF;
    margin-bottom: 1rem;
    background-color: hsla(195, 63%, 58%, 0.1);
    padding: .5rem 1rem;
    border-radius: 10px;

    img {
      margin-right: 1rem;
    }
  }
}