nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 20px hsla(0, 0%, 14%, 0.1);
  background-color: #FFFFFF;

  .name {
    font-weight: bold;
  }

  .hamburguer-icon {
    position: fixed;
    right: 2rem;
    top: calc(2rem - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    background-color: #242424;
    z-index: 2;
    transition: all ease 1s;
  }
  
  .hamburguer-icon.expanded {
    background-color: #FFFFFF;
    top: -100vh;
    right: -80vh;
    width: 250vh;
    height: 220vh;
  }

  .close-expanded {
    position: fixed;
    z-index: 2;
    top: -12.5rem;
    right: -4.5rem;
    background-color: transparent;
    border: none;
    color: #242424;

    transition: all ease 1s;
  }

  .close-expanded.expanded {
    top: 1.5rem;
    right: 1.5rem;
    
    transition: all ease 1s;
  }

  .nav-buttons {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    top: -12.5rem;
    right: -4.5rem;

    transition: all ease 1s;

    .nav-button {
      color: #242424;
      margin-bottom: 2rem;
      background-color: transparent;
      border: none;
      font-size: 1rem;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;

      transition: all ease 2s;
    }

    .nav-button:last-child {
      margin: 0;
    }
  }
  
  .nav-buttons.expanded {
    z-index: 2;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    
    transition: all ease 1s;

    .nav-button {
      color: #242424;
      margin-bottom: 2rem;
      background-color: transparent;
      border: none;
      font-size: 1rem;
      font-weight: 900;
      text-transform: uppercase;
        
      transition: all ease 2s;
    }
  }
}