footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2rem;
  padding: 1rem 2rem;
  background-color: #242424;

  p {
    color: #FFFFFF;
    font-weight: 600;
  }

  .mobile {
    display: block;
  }

  .web {
    display: none;
  }

  .social {
    display: flex;

    a {
      img {
        width: 25px;
        height: 25px;
        margin-left: 1rem;
        filter: brightness(100);
        opacity: 0.8;
        transition: all ease 1s;
      }
      
      img:hover {
        opacity: 1;
        transition: all ease 1s;
      }
    }
  }
}

@media (min-width: 1024px) {
  footer {
    p {
      font-size: 1rem;
    }

    .web {
      display: block;
    }

    .mobile {
      display: none;
    }
  }
}