@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

html {
  overflow: hidden;
  background-color: #242424;
  color: #FFFFFF;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #242424;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.25rem;
}

.icon {
  width: 40px;
}

.clickeable {
  animation: clickable 3s 2;
}

@keyframes clickable {
  0% {
    opacity: 1;
  }
  
  50% {
    opacity: 0.75;
  }
  
  100% {
    opacity: 1;
  }
}